@charset "UTF-8";

/* estilos mobile first */
/*
verde: #49a09d
lilás: #5f2c82
*/
:root {
    --color1: #49a09d;
    --color2: #5f2c82;
    --color3: #234e4d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    background-color: var(--color2);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#login {
    background-color: #fff;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    height: 40%;
    background: var(--color2) left bottom /cover no-repeat url(../images/metal.jpg);
}

div#formulario {
    padding: 10px;
}

#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario p {
    font-size: 0.8em;
    text-align: justify;
    padding-bottom: 5px;
}

div.campo {
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--color2);
    border-radius: 8px;
    margin: 5px 0;
}
div.campo label {
    display: none;
}
div.campo span{
    color: white;
    font-size: 2em;
    width: 40px;
    height: 100%;
    padding: 5px;
}
div.campo input{
    font-size: 1em;
    width: calc(100% - 45px);
    height: calc(100% - 2px);
    border-radius: 8px;
    border: 1px solid var(--color2);
    transform: translateY(-10px);
    padding: 5px;
}

form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--color1);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: var(--color3);
}

form a {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 1px solid var(--color1);
    border-radius: 8px;
    color: var(--color1);
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    padding-top: 7px;
}

form a:hover {
    background-color: var(--color3);
    color: white;
}

a.botao>span {
    font-size: 0.8em;
}