@charset "UTF-8";

/* Estilo para tela */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(62, 128, 168);
}

header {
    background-color: lightskyblue;
}

header h1 {
    text-align: center;
}

nav {
    background-color: rgba(151, 247, 215, 0.705);
    list-style: none;
}

nav li {
    background-color: rgb(21, 167, 167);
    display: inline-block;
    padding: 10px;
}

main {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 10px;;
}