@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    background-color: gray;
}

h1 {
    text-align: center;
}
#burger{
    background-color: rgb(39, 39, 39);
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
#burger:hover{
    background-color: white;
    color: black;
}
#itens{
    display:none;
}
menu li {
    list-style: none;
}

menu a {
    border: 2px solid gray;
    display: block;
    padding: 10px;
    background-color: rgb(73, 73, 73);
    text-decoration: none;
    text-align: center;
    color: white;
}
nav a:hover{
    background-color: gray;
}

body {
    background-color: lightgray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article h2{
    padding-bottom: 20px;
}
article p {
    text-align: justify;
    line-height: 1.2em;
    text-indent: 20px;
    margin-bottom: 20px;
}